@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;1,700&display=swap");

body {
  background-image: url(../img/bg.jpg);
  background-size: 100vh;
  background-size: 100vw;
  font-family: "Noto Sans", sans-serif;
}
.logo {
  margin-top: 2%;
  margin-left: 3%;
  width: 150px;
}
#container1 {
  margin-right: 6%;
  margin-left: 6%;
}
h1 {
  color: white;
  margin-left: 3%;
  font-size: 60px;
  margin-bottom: 2%;
  word-spacing: 1;
}

h3 {
  margin-left: 3%;
  font-size: 16px;
  color: #d20094;
  font-weight: bolder;
}

p {
  color: white;
  margin-left: 3%;
}

#pulsante {
  margin: 0;

  box-shadow: -1px 0px 15px 5px #00ffff;
  border-style: none;
  background-color: #00ffff;
  font-weight: bolder;
  font-size: 20px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  margin-bottom: 1%;
}
/*pulsanti da usare*/
#pulsanteQuiz {
  display: inline-flex;
  margin: 0.5em;
  border-width: 2.5px;
  background-color: #2c2956;
  border-color: white;
  border-radius: 30px 30px 30px 30px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  cursor: pointer;
}

#pulsanteQuiz:focus {
  background-color: #900080;
  border-color: #f3a0e9cb;
}

.quiz {
  display: flex;
  margin: 0.9em;
  justify-content: center;
  align-items: center;
  align-content: center;
}
#sec {
  margin: 0.5em;
  gap: 1, 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
/*finish pulsantidausare*/
#exam {
  text-align: center;
  font-size: 60px;
}
#centra {
  margin-left: 10%;
  margin-right: 10%;
}

/*pagina di result alessio*/
.summary {
  font-size: 16px;
  font-weight: bolder;
}
#container {
  width: 80%;
  padding: 2em;
  margin: 0 auto;
}

#container2 {
  width: 100%;
  padding: 2em;
}

#result {
  width: 100%;
  text-align: center;
}

#result,
#correct,
#message,
#wrong {
  display: inline-block;
  margin: 0 auto;
  padding: 2em;
  text-align: center;
}
#correct,
#wrong {
  width: 20%;
}

#correct {
  float: left;
  text-align: left;
}

#wrong {
  text-align: right;
  float: right;
}

#message {
  outline: 20px solid black;
  border-radius: 80%;
  width: 35%;
  height: 100%;
  margin: 2em;
  float: none;
  padding: 2em;
}

#WPwelcome {
  font-weight: 200;
}

#footer {
  text-align: center;

  margin: 2em;
}

.clicked {
  filter: none !important;
}
#stars img {
  filter: grayscale(100%);
}
#comment{

  background-color: transparent;
  outline:none;
  border-style: initial;
  width: 100%;

}
#centraAll{
  text-align: center;
  margin-right: 15%;
  margin-left: 15%;
 
}
#allineamento{
border-bottom: solid;
text-align:start;
vertical-align: bottom;
color: #900080;
margin-bottom: 5%;
margin-top: 5%;
}

