@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

body {
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  color: white;
  font-size: 16px;
  word-spacing: 1px;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Outfit", sans-serif;
}

.logo {
  margin-top: 24px;
  width: 150px;
}

h1 {
  color: white;
  font-size: 60px;
  margin-bottom: 2%;
  word-spacing: 1;
}

h3 {
  font-size: 16px;
  color: #d20094;
  font-weight: bolder;
}

p {
  color: white;
}

/*CSS index */
#container1 {
  margin-right: 8%;
  margin-left: 8%;
}

#logo1 {
  width: 120px;
  margin-top: 24px;
  margin-bottom: 50px;
}

#wPTitle {
  margin-bottom: 2.4em;
  letter-spacing: 3px;
}

#WPh1 {
  line-height: 0.8em;
  letter-spacing: 1px;
  font-size: 80px;
  margin-top: 20px;
}

#WPwelcome {
  font-weight: 300;
}

#WPinstr {
  font-weight: 600;
  color: #d20094;
  font-size: 30px;
  margin-bottom: 0.1px;
}

#WPp {
  margin-bottom: 3.2em;
  margin-top: 0.3em;
  width: 550px;
  font-size: 20px;
}

#WPul {
  padding-left: 1.7em;
  margin-bottom: 4em;
  letter-spacing: 0.03em;
  font-size: 20px;
}

#WPbtn {
  background: transparent;
  outline: none;
  border: 2.7px solid white;
  width: 24px;
  height: 24px;
}
.disabled {
  margin: 0;
  box-shadow: -1px 0px 15px 5px #00ffff;
  border-style: none;
  background-color: #6c9090;
  font-weight: 800;
  font-size: 19px;
  padding: 10px 30px;

  color: #0b1f47;
  width: 178.96px;
  height: 50px;
}

.pulsante {
  margin: 0;
  box-shadow: -1px 0px 15px 5px #00ffff;
  border-style: none;
  background-color: #00ffff;
  font-weight: 800;
  font-size: 19px;
  padding: 10px 30px;
  cursor: pointer;
  color: #0b1f47;
  width: 178.96px;
  height: 50px;
}

#pulsanti {
  margin: 0;
  box-shadow: -1px 0px 15px 5px #00ffff;
  border-style: none;
  background-color: #00ffff;
  font-weight: 800;
  font-size: 19px;
  padding: 10px 30px;
  cursor: pointer;
  color: #0b1f47;
  width: 178.96px;
  height: 50px;
}

.css-checkbox {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

#inputPreview {
  display: flex;
}

.css-checkbox + label {
  position: relative;
  font-size: 14px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  height: 34px;
  width: 60%;
}

.css-checkbox + label::before {
  content: " ";
  display: inline-block;
  vertical-align: middle;
  margin-right: 3px;
  width: 20px;
  height: 20px;
  background-color: rgb(12, 18, 58);
  border: 2px solid rgb(204, 204, 204);
  border-radius: 2px;
  box-shadow: rgb(42 42 42 / 60%) 0px 0px 5px 0px inset;
}

.css-checkbox:checked + label::after {
  content: " ";
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBmaWxsPSIjZmZmZmZmIiBkPSJNMTczLjg5OCA0MzkuNDA0bC0xNjYuNC0xNjYuNGMtOS45OTctOS45OTctOS45OTctMjYuMjA2IDAtMzYuMjA0bDM2LjIwMy0zNi4yMDRjOS45OTctOS45OTggMjYuMjA3LTkuOTk4IDM2LjIwNCAwTDE5MiAzMTIuNjkgNDMyLjA5NSA3Mi41OTZjOS45OTctOS45OTcgMjYuMjA3LTkuOTk3IDM2LjIwNCAwbDM2LjIwMyAzNi4yMDRjOS45OTcgOS45OTcgOS45OTcgMjYuMjA2IDAgMzYuMjA0bC0yOTQuNCAyOTQuNDAxYy05Ljk5OCA5Ljk5Ny0yNi4yMDcgOS45OTctMzYuMjA0LS4wMDF6Ii8+PC9zdmc+);
  background-size: 17px 16px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0px;
  left: 0px;
  top: 0px;
  text-align: center;
  background-color: transparent;
  font-size: px;
  height: 33px;
  width: 25px;
  background-position: center center;
  background-repeat: no-repeat no-repeat;
}

#WPlink {
  margin-left: 23%;
}

#WPstring {
  margin-left: 1.2em;
  font-size: 18px;
}
#pulsanti2 {
  margin: 0;
  box-shadow: -1px 0px 15px 5px #00ffff;
  border-style: none;
  background-color: #00ffff;
  font-weight: 800;
  font-size: 19px;
  padding: 10px 30px;
  cursor: pointer;
  color: #0b1f47;
  width: 178.96px;
  height: 100px;
}
/*result*/
#buttonRate {
  margin: 0;
  float: center;
  color: white;
  border: 2px solid white;
  background-color: transparent;
  font-size: 22px;
  font-weight: 900;
  padding-left: 60px;
  padding-right: 60px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  cursor: pointer;
  box-shadow: 0px 3px 25px 4px rgb(0 255 255 / 27%);
}

.summary {
  font-size: 16px;
  font-weight: bolder;
}
#container {
  padding: 2em;
  margin: 0 auto;
}

#container2 {
  display: flex;
  flex-direction: row;
  width: 100%;

  justify-content: space-between;
  align-items: center;
}
#containerResult {
  box-sizing: border-box;
  margin: 0 auto;
  width: 80%;
}
#result {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

#result,
#correct,
#message,
#wrong {
  text-align: center;
}
#correct,
#wrong {
  width: 20%;
}

#correct {
  text-align: left;
}

#wrong {
  text-align: right;
}

#message {
  position: relative;
  border-radius: 100%;
  width: 360px;
  height: 360px;
  margin: 2em;
  float: none;
  /*padding: 2em;*/
  min-width: 300px;
  min-height: 300px;
}

#msg-content {
  height: 70px;
  position: relative;
  top: 53%;
  width: 60%;
  font-size: 13px;
  margin: 0 auto;
}
#myChart {
  position: relative;
  width: 300px;
}

#footer {
  text-align: center;

  margin: 2em;
}

#comment {
  background-color: transparent;
  outline: none;
  border-style: initial;
  width: 90%;
}
#centraAll {
  width: 70%;
  text-align: center;
  margin-right: 15%;
  margin-left: 15%;
}
#allineamento {
  border-bottom: solid;
  text-align: start;
  vertical-align: bottom;
  color: #900080;
  margin-bottom: 5%;
  margin-top: 5%;
}

#result > h2 {
  margin-bottom: 0px;
  margin: 0 auto;
  font-size: 50px;
  letter-spacing: 2px;
}
#result > h3 {
  margin-top: 0;
  margin-bottom: 1em;
  font-weight: 300;
  font-size: 30px;
}
.cambiaSE {
  font-size: 16px;
  margin-top: 0;
}
#cambiaInjs {
  color: #00ffff;
}
#message > p {
  margin-top: 100px;
  font-size: 16px;
}
#wrong > h2,
h3,
p {
  margin: 0;
  color: white;
}
#correct > h2,
h3,
p {
  margin: 0;
  color: white;
}
#correct > h3 {
  font-size: 40px;
  font-weight: 800;
}
#wrong > h3 {
  font-size: 40px;
  font-weight: 800;
}

#correct > h2 {
  font-size: 46px;
  font-weight: 400;
}
#wrong > h2 {
  font-size: 46px;
  font-weight: 400;
}

.pass {
  color: #00ffff;
  font-weight: 800;
  font-size: 18px;
}

.wrong {
  color: #d20094;
  font-weight: 800;
}

#RSlogo {
  width: 120px;
  margin-top: 24px;
  margin-bottom: 21px;
}

#RSh4 {
  line-height: 17px;
}

#congrats {
  font-size: 18px;
}

#RSfailed {
  font-size: 18px;
}

/*test*/

#option {
  text-align: center;
  margin: 2 auto;
  width: 60%;
  margin-top: 4em;
}

.pulsanteQuiz {
  border: 2px;
  border-style: outset;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto !important;
  background-color: rgba(44, 41, 86, 0.2);
  border-radius: 40px 40px 40px 40px;
  padding: 10px 10px;
  color: white;
  cursor: pointer;
  height: 50px;
  width: 350px;
}

.pulsanteQuiz:hover {
  background-color: #900080;
  border-color: #f3a0e9cb;
}
#option input:checked ~ label {
  background-color: #900080;
}

#option {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  gap: 10px;
}

#sec {
  margin: 0.5em;
  gap: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#exam {
  font-size: 50px;
  font-weight: 400;
  text-align: center;
}

#centra {
  margin-left: 10%;
  margin-right: 10%;
}

input[type="radio"] {
  visibility: hidden;
  appearance: none;
  width: 0%;
  height: 0%;
  margin: 0;
}
#div_procedi {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4em;
}
#domanda {
  margin: 0 auto;
  margin-top: 30px;
  height: 200px;
}

#contatoreDomanda {
  text-align: center;
  margin-top: 4em;
  font-weight: 500;
}
#contatoreDomanda span {
  color: #c105ab;
}
footer {
  position: absolute;
  bottom: 2%;
  left: 0;
  width: 100%;
}

.base-timer {
  position: relative;
  width: 150px;
  height: 150px;
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
  opacity: 0.3;
}

.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: square;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__path-remaining.green {
  color: #00ffff;
}

.base-timer__path-remaining.orange {
  color: #00ffff;
}

.base-timer__path-remaining.red {
  color: #00ffff;
}

.base-timer__label {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1em;
}

.piccolo {
  font-size: 0.6em;
  font-weight: bold;
}
#timer {
  display: flex;
  justify-content: flex-end;
}

#logo2 {
  width: 120px;
  margin-top: 24px;
}

#seconds {
  font-size: 2.7em;
  font-weight: 400;
  font-family: "Outfit";
}

#torta {
  position: relative;
  bottom: 24%;
  margin: 0 auto;
  width: 400px;
  height: 400px;
}

/*review*/
#stars img {
  filter: grayscale(100%) brightness(0) saturate(100%);
}
.clicked {
  filter: none !important;
}

#RWcontainer {
  margin: 0 auto;
  text-align: center;
}

#allineamento {
  margin-bottom: 50px;
  margin: 2em auto;
}

#stars {
  margin-bottom: 4em;
  letter-spacing: 0.5em;
}

.RWp {
  font-size: 23px;
  margin: 1em;
}

#RWstring {
  width: 80%;
  margin: 0 auto;
}

.allineamento2 {
  width: 75%;
  padding: 0.5em;
}

#comment {
  margin-left: 2em;
  color: white;
}
