body {

    background-image: url(../img/bg.jpg);
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
 
}
#container2 {
  text-align: center;
  height: 80vh;

  border: 2px solid black;
}
#result {
  width: 100%;
  text-align: center;
  height: 100vh;
}

}

#logo {
    margin-top: 2%;
    margin-left: 3%;
    width: 150px;
    text-align: start;
}

h1 {
    font-size: 60px;
    color: white;
    margin: 0;
}

h2,
h3 {
    color: white;
    margin: 0;
    font-size:40px;

    word-spacing: 1;
}
h4{
    color: white;
    margin: 0;
    font-size: 20px;
}
.summary{

    font-size: 16px;
    font-weight: bolder;
}

p {
    color: white;
    margin-left: 3%;
}

#container {
    width: 80%;
    padding: 2em;
    margin: 0 auto;
}

#container2 {

    width: 100%;
    padding: 2em;


}

#result {
    width: 100%;
    text-align: center;
    ;
}

#correct,
#wrong {
  width: 20%;

  vertical-align: middle;
  margin: 20px;
}
#correct {
  margin: 0;
  position: absolute;
  top: 60%;
  left: 15%;
  transform: translate(-50%, -50%);
  width: 20%;
}
#wrong {
  margin: 0;
  position: absolute;
  top: 60%;
  left: 85%;
  transform: translate(-50%, -50%);
  width: 20%;
  vertical-align: middle;
}

#message {
  margin: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
  height: 50%;
  vertical-align: middle;

  border-radius: 80%;

  outline: 20px solid black;
}

#logo {
  width: 30em;
}

body {
  background-image: url("../img/bg.jpg");
}

#WPwelcome {
  font-weight: 200;
}

h1 {
  font-size: 60px;
  line-height: 0.8em;
}

#footer {
  text-align: center;
}
#container1 {
  margin-right: 6%;
  margin-left: 6%;
}

#result, #message, #correct, #wrong
{
    display: inline-block;
    margin: 0 auto;
    padding: 2em;
    text-align: center;
      display: inline-block;
  border: 2px solid black;
  vertical-align: middle;
  text-align: center;

}

#correct,
#wrong {
    width: 20%;

}

#correct {
    float: left;
    text-align: left;
}

#wrong {
    text-align: right;
    float: right;
}

#message {
    outline: 20px solid black;
    border-radius: 80%;
    width: 35%;
    height: 100%;
    margin: 2em;
    float: none;
    padding: 2em;
}

#WPwelcome {
    font-weight: 200;
}



#footer {
    text-align: center;

    margin: 2em;
}

#container1 {
    margin-right: 6%;
    margin-left: 6%;
}

#buttonRate {

    margin: 0;
    float: center;

    color: white;
    border: 2px solid white;
    background-color: transparent;
    font-weight: bolder;
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}