body {
  background-image: url(../img/bg.jpg);
  background-size: cover;
  font-family: "Times New Roman", Times, serif;
  box-sizing: border-box;
}

.logo {
  margin-top: 2%;
  margin-left: 3%;
  width: 150px;
  text-align: start;
}

h1 {
  font-size: 60px;
  color: white;
  margin: 0;
}

h2,
h3 {
  color: white;
  margin: 0;
  font-size: 40px;

  word-spacing: 1;
}
h4 {
  color: white;
  margin: 0;
  font-size: 20px;
}
.summary {
  font-size: 16px;
  font-weight: bolder;
}

p {
  color: white;
  margin-left: 3%;
}
#buttonRate {
  margin: 0;
  float: center;

  color: white;
  border: 2px solid white;
  background-color: transparent;
  font-weight: bolder;
  font-size: 20px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
#stars img {
  filter: grayscale(100%);
}
.clicked {
  filter: none !important;
}
